

{% load static %}

<footer id="main-footer">
    <div class="footer-content container">
        <p>
            Copyright &copy; 2021 All Rights Reserved
        </p>
        <div class="social">
            <a href="https://github.com/bphariharan1301" target="__blank">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://www.linkedin.com/in/hariharan-b-p-5449a3196/" target="__blank">
                <i class="fab fa-linkedin"></i>
            </a>
            
            <a href="https://www.instagram.com/hbp_1301_07/" target="__blank">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="https://www.facebook.com/hariharan.bp.1/" target="__blank">
                <i class="fab fa-facebook"></i>
            </a>

            <a href="https://twitter.com/HARIHARANBP1" target="__blank">
                <i class="fab fa-twitter"></i>
            </a>

        </div>
    </div>
</footer>

