{% extends 'base.html' %}


{% load static %}

{% block title %}
    Books
{% endblock %}

{% block content %}


<section id="home-a" class="text-center py-3">
    <div class="container">
        <h2 class="section-title">
            Available Books
        </h2>
        <div class="bottom-line"></div>
        <div class="items">
            {% for book in books %}
                <div class="item">
                    <div class="item-image">
                        <img src="{{ book.photo_main.url }}" alt="item-1">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p class="item-text-category">
                                {{ book.category }}
                            </p>
                            <p class="item-text-title">
                                {{ book.name }}
                            </p>
                        </div>
                        <a href="{% url 'book' book.id %}" class="btn btn-dark detail-btn" >Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}
