{% extends 'base.html' %}

{% block title %}
    {{ book.name }}
{% endblock %}

{% block content %}

    <section id="book-a" class="text-center py-2">
        <div class="container">
            <h2 class="section-title">
                {{ book.name }}
            </h2>
            <div class="bottom-line"></div>
            <div class="book-details">
                <img src="{{ book.photo_main.url }}" alt="Book Image" class="book-image">
                <div class="book-detail-wrapper">
                    <h2 class="book-category">
                        Category: {{ book.category }}
                    </h2>
                    <p class="book-description">
                        {{ book.description }}
                    </p>

                </div>
                
            </div>
            <a href="{{ book.download_book.url }}" class="btn btn-dark download-btn" download="{{ book.name }}.pdf">
                Download e-book
            </a>
        </div>
    </section>

{% endblock %}

