
{% extends 'base.html' %}


{% block content %}

    <section id="search-form" class="text-center py-3">
        <div class="container">
            <div class="search-content"  id="bg-search">
                <h2 class="section-title search-title">Search Book</h2>
                <div class="bottom-search-line"></div>
                <form action="{% url 'search' %}">
                    {% csrf_token %}
                    <div class="text-fields">
                    <input
                        type="text"
                        class="text-input name-input"
                        placeholder="Name"
                        name="name"
                    />
                    <br>
                    <input
                        type="text"
                        class="text-input subject-input"
                        placeholder="Author"
                        name="author"
                    />
                    <br>
                    <select name="category" class="text-input category-input">
                        <option selected="true" disabled="disabled">Category (All)</option>
                        {% for cat in cats %}
                            <option value="{{ cat.name }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select>

                    </div> 
                    <button type="submit" class="btn btn-light search-button">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <section id="home-a" class="text-center py-3">
        <div class="container">
            <h2 class="section-title">
                Matched Books
            </h2>
            <div class="bottom-line"></div>
            <div class="items">
                {% if books %}
                    {% for book in books %}
                        <div class="item">
                            <div class="item-image">
                                <img src="{{ book.photo_main.url }}" alt="item-1">
                            </div>
                            <div class="item-text">
                                <div class="item-text-wrap">
                                    <p class="item-text-category">
                                        {{ book.category }}
                                    </p>
                                    <p class="item-text-title">
                                        {{ book.name }}
                                    </p>
                                </div>
                                <a href="{% url 'book' book.id %}" class="btn btn-dark detail-btn" >Details</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="lead">
                        No Books Available
                    </p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}


