* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */

.section-title {
  font-size: 2rem;
  display: block;
  /* padding: 1rem 0; */
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.btn-dark {
  background-color: #333;
}

.btn-light {
  background: #fff;
  color: #000;
  font-size: 1rem;
}

.btn:hover {
  background-color: #ffce00;
  color: #fff;
}

.detail-btn {
  margin: 1rem 0;
}

.bottom-line {
  height: 4px;
  width: 3rem;
  background-color: #213970;
  display: block;
  margin: 0 auto 2rem auto;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}

#logo {
  width: 60px;
  height: 60px;
  padding: 0 2rem;
}

.container {
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
  justify-items: center;
}

#navbar {
  background: #333;
  border-bottom: 3px #f78733 solid;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-right: 1rem;
  margin: 0 2rem;
  height: 4rem;
}

#main-nav ul {
  display: flex;
}
#main-nav li {
  padding: 1rem 1.5rem;
}
#main-nav a {
  text-decoration: none;
  color: #f4f4f4;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

#main-nav a.current {
  border-bottom: #ffe042 3px solid;
}

#main-nav a:hover {
  border-bottom: #fff 4px solid;
}

/* Home */

#home-a .items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 2rem;
  margin: 0 5em;
}

#home-a .container .item {
  border: 2px grey solid;
}

#home-a .container .item-image img {
  height: 100%;
  width: 100%;
}

#home-a .items .item-text {
  font-size: 1rem;
}

#home-a .items .item-text-wrap {
  text-align: center;
  font-size: 1.5rem;
}

/* Footer */

#main-footer {
  background: #333;
  color: #fff;
  height: 5rem;
}

#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  font-size: 1.2rem;
}

.social .fab {
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
}

.social .fab:hover {
  background: #ffe042;
  color: #333;
}

/* Search Form */

#home-b {
  background-image: url("../img/showcase.jpg");
  height: 50vh;
  color: #fff;
}

#home-b .search-title {
  text-align: center;
  justify-items: center;
}

#home-b .search-content {
  /* background-color: #333; */
  background: rgba(51, 51, 51, 0.8);
  position: absolute;
  padding: 1rem;
  top: 15%;
  left: 25%;
  right: 40%;
  height: 370px;
  width: 900px !important;
}

/* #home-b #bg-search {
  width: 900px !important;
  /* height: 30%; */
/* background: red; */
/* } */
/* 
#home-b .book-search {
  /* width: 100px; */
/* height: 100px; */
/* background-color: #333; */
/* height: 1000px !important; */
/* }  */

.search-content .bottom-search-line {
  height: 4px;
  width: 3rem;
  background-color: #ffe042;
  display: block;
  margin: 0 auto 2rem auto;
}

.search-button {
  margin-top: 1rem;
  border-radius: 10px;
  width: 20%;
}

/* #home-b #bg-search {
  padding: 1rem;
  width: 25%;
} */

/* Form */

#home-b .search-content .text-fields {
  line-height: 4.5rem;
}

#home-b .search-content .text-fields .text-input {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  /* text-align: center !important; */
  padding-left: 0.5rem;
}

#home-b .search-content .text-fields .category-input {
  width: 52%;
}
